*.test.js
!binding.js
*.map
*.d.ts
!binding.d.ts
native/artifacts.json
artifacts.json
*.node
*.tmp_node_swc_fixture_test
/scripts/npm/**/swc
/scripts/npm/**/swc.exe


target/
**/*.bk
*.log

.vscode/*
!.vscode/settings.json
*.swp

/.idea
*.iml

.DS_Store

node_modules/

*.html
!crates/swc_html*/**/*.html
*.svg
yarn.lock
*.data
*.old
*.stacks

*.zip
*.info
.COVERAGE_DIR
.yarn

**/*~
**/node_modules
**/.DS_Store

pkg/

.idea/


*.tmp.js

/lab

*.mm_profdata
.tsbuildinfo
.swc/

*.tmp.txt
